@import url('https://fonts.googleapis.com/css?family=Roboto:300');


.ss {
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
    background: linear-gradient(to right, #f32170,
    #ff6b08, #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.dd, .ss{    /* For increasing performance
                       ID/Class should've been used.
                       For a small demo
                       it's okaish for now */
    animation: showup 7s infinite;
}

.dd{
    width:0px;
    animation: reveal 7s infinite;
}

.dd span {
    margin-left:-355px;
    animation: slidein 7s infinite;
    background: linear-gradient(to right, #f32170,
    rgba(255, 107, 8, 0.76), #23cfb5, #c444ee);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}


